<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso8859-1">
<style type="text/css">
a {
	color:#8fc54a;
	text-decoration: none;
	font-family:Helvetica, Arial, Verdana, sans-serif;
}
</style>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<table width="660" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr height="70" style="border-bottom:1px solid #999999;">
    <td>
      Welcome to {BASE_URL}
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" bgcolor="#FFFFFF"><table width="660" border="0" align="left" cellpadding="0" cellspacing="0">
        <td width="23">&nbsp;</td>
        <td width="615" align="left" style="border-top:1px solid #ccc;">
         <span style="font-family: Helvetica, Arial, Verdana, sans-serif; font-size:14px; color:#333333; line-height:1.5em">  
						<p>
							{TEXT}
						</p>
         </td>
        <td width="22">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr height="70" style="">
  <td>
  <table width="660" border="0" align="left" cellpadding="0" cellspacing="0">
    <td width="24">&nbsp;</td>
    <td  width="615" align="left" style="color:#000; border-top:1px solid #ccc; padding-top:10px;"><span style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; line-height:14px">Mail footer ...</span></td>
    <td width="21">&nbsp;</td>
    </table>
  </td>
  </tr>
  <tr>
    <td valign="top"></td>
  </tr>
</table>

</body>
</html>
